@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.container-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    border: 2px solid;
    margin-top: 1rem;
    padding: 2rem;
}
.container-contacto h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    text-align: center;
    margin: 3rem 0;
    letter-spacing: 1rem;
    position: relative;
}

form{
    display: grid;
}
form input{
    padding-left: 1rem;
    background-color: var(--black);
    color: var(--white);
    border-color: var(--grey);
    margin: .5rem 0;
    text-transform: none;
}
form textarea{
    padding-left: 1rem;
    background-color: var(--black);
    color: var(--white);
    border-color: var(--grey);
    text-transform: none;
    font-style: italic;
}
button{
    width: 30%;
    height: 5rem;
    margin-top: 1rem;
    background-color: var(--black);
    color: var(--white);
    justify-self: end;
}
button:hover{
    opacity: .5;
    color: var(--white);
    background-color: green;
}

/* animacion de tipiado a maquina */

.css-typing{
    border-right: .15em solid white;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
.container-contacto h2{
    position: relative;
}
.container-contacto h2::after{
    content: '';
    position: absolute;
    height: 90%;
    width: 2.5px;
    background-color: black;
    animation: titilar .8s ease 0s infinite;
}

@keyframes titilar{
    0%{
        opacity: 1;
    }
    
    100%{
        opacity: 0;
    }
}

.css-typing:nth-child(1) {
    padding-left: 2rem;
    width: 66rem;
    -webkit-animation: type 2s steps(40, end), blink .4s step-end infinite alternate;
    animation: type 2s steps(40, end), blink .4s step-end infinite alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


@keyframes type {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

